# Variables para publicar el backend QuickLunch en Render
NODE_ENV=production
PORT=10000
JWT_SECRET=cambia_este_secreto_quicklunch_2026

# Después de publicar el frontend en Vercel, agrega aquí sus URLs separadas por coma.
# Ejemplo:
# CLIENT_ORIGINS=https://quicklunch.vercel.app,https://quicklunch-git-main-tuusuario.vercel.app
CLIENT_ORIGINS=https://TU-PROYECTO.vercel.app

# Opcional si quieres fijar una sola URL cliente
CLIENT_ORIGIN=https://TU-PROYECTO.vercel.app
